body {
    font-family: Arial, sans-serif;
    background-color: #090908;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 4em;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #c5c5c5;
  }
  
  label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bolder;
    color: #065110;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #c5c5c5;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  select {
    height: 40px;
  }
  
  span[id$="-error"] {
    display: block;
    margin-top: -20px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  @media screen and (max-width: 600px) {
    form {
      margin-top: 50px;
    }
  }
  #error-message {
    margin-top: 5px;
    display: block;
}

#error-message + input {
    margin-top: 10px;
}
